@font-face {
    font-family: 'Allgemeine';
    src: url('fonts/Allgemeine.woff2') format('woff2'),
        url('fonts/Allgemeine.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Architekt';
    src: url('fonts/Architekt.woff2') format('woff2'),
        url('fonts/Architekt.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

//home
@yellow: #fae008;
@sandia: #c33043;
@gris: #f3f3f2; //Fuentes
@gris-oscuro: #ebebeb;

//servicios
@yellow-dead: #e3b45b;
@yellow-dead-background: #e5ba68;
@naranja-fondo: #cf7639;



.flex {
    display: flex;
    flex-wrap: wrap;

    &.center-h {
        justify-content: center;
    }

    &.nowrap {
        flex-wrap: nowrap;
    }

    .col {
        width: 50%;    
        padding: 0px 20px;
        box-sizing: border-box;
        &.align-self-center {
            align-self: center;
        }
        &.align-self-end {
            align-self: flex-end;
        }
    }
}

ul {
  color: black;
  font-family: 'Architekt';     
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 24px;
  font-weight: 600;
  
}

li {
  color: black;
  font-family: 'Architekt';
  padding-left: 1em; 
  text-indent: -.7em;
  font-size: 24px;
  font-weight: 600; 
  line-height: 115%;    
}


ul li::before {
  content: "• ";
  color: @sandia; 
}

////////////////////// TEXT //////////////////////

@l-big: 38px;
@l-mid: 32px;
@l-bigest: 44px;
@big: 32px;
@bigest: 48px;
@giant: 68px;


.shadow{
    text-shadow: 1px 1px 8px #000000;
}

p{
     line-height: 90%;
    &.white{
    color: @gris;
    font-family: 'Architekt';
    font-size: 23px;
    } 
    &.black{
    color: black;
    font-family: 'Architekt';
    font-size: 23px;
    font-weight: 600;
    } 
}


.light-bigest-sandia{
    color: @sandia;
    font-family: 'Architekt';
    font-size: @l-bigest;
}

.light-big-sandia{
    color: @sandia;
    font-family: 'Architekt';
    font-size: @l-big;
}

.light-big-white{
    color: @gris;
    font-family: 'Architekt';
    font-size: @l-big;
}

.light-big-black{
    color: black;
    font-family: 'Architekt';
    font-size: @l-big;
}

.light-mid-black{
    color: black;
    font-family: 'Architekt';
    font-size: @l-mid;
}

.light-mid-sandia{
    color: @sandia;
    font-family: 'Architekt';
    font-size: @l-mid;
}

.light-mid-white{
    color: @gris;
    font-family: 'Architekt';
    font-size: @l-mid;
}




.big-white{
    color: @gris;
    font-family: 'Allgemeine';
    font-size: 32px;
}

.big-sandia{
    color: @sandia;
    font-family: 'Allgemeine';
    font-size: @big;
}

.bigest-white{
   color: @gris;
   font-family: 'Allgemeine';
   font-size: 48px;
}

.bigest-sandia{
   color: @sandia;
   font-family: 'Allgemeine';
   font-size: @bigest;
}

.giant-sandia{
   color: @sandia;
   font-family: 'Allgemeine';
   font-size: @giant;
}

.giant-white{
   color: @gris;
   font-family: 'Allgemeine';
   font-size: @giant;
}

/////////////////BUTTONS/////////////////////

.btn-yellow{
    background-color: @yellow;
    font-family: 'Allgemeine';
    color: @sandia;
    font-size: 30px;
    border: 0;
    padding: 4px 24px;
    
}

.btn-sandia{
    background-color: @sandia;
    font-family: 'Allgemeine';
    color: @gris;
    font-size: 30px;
    border: 0;
    padding: 4px 24px;
    
}

.btn-dead-yellow{
    background-color: @yellow-dead;
    font-family: 'Allgemeine';
    color: @sandia;
    font-size: 30px;
    border: 0;
    padding: 4px 24px;
    
}

div.contenedor-center{
    margin: auto;
    width: 45%;
    padding: 10px; 
    text-align: center;
}

div.flex .gradient{
    
        padding-top: 160px;
        padding-bottom: 100px;
        padding-left: 80px;
        padding-right: 55px;
        background: linear-gradient(to bottom, #f4e181, #d27943);
        //background-size: cover;
        h1{
            line-height: 160%;
        }
    }

section.fondo-gris{ //esta clase apareció apartir de "about"
    background-color: @gris-oscuro;
    background: url(../img/about/fondo-logros-gris.jpg) no-repeat center;
    background-size: cover;
}

/* ==========================================================================
   HOME
   ========================================================================== */

#reparamos-inicio{
    
    //background: url(../img/home/fondo-columna-section1.jpg) no-repeat left;    
    //background-color: @gris-oscuro;
    .flex{
        
    }
    .col{
        padding-top: 160px;
        padding-bottom: 100px;
        
    }
    #reparamos1{
        padding-left: 65px;
        padding-right: 25px;
        background: linear-gradient(to bottom, #f4e181, #d27943);
        //background-size: cover;
    }
    #reparamos2{
        background-color: @gris-oscuro;
        img#all-devices{
            position:relative;
            left: -44px;
              
        }
    }

}


#who{
    background: url(../img/home/modern-devices.png) center 110px no-repeat, url(../img/home/fondo-sandia-piramide.jpg) no-repeat center;
    
    h2{
        padding-top: 465px;
        padding-bottom: 80px;
    }
    div.contenedor-center{
        padding-bottom: 120px;
        .btn-yellow{
            margin-top: 55px;
            
        }
    }
}

#nuestros-servicios{
        }
    
#brindamos
{
    .contenedor-center{
        padding-top: 85px;
    }
    .flex {
        margin-top: 70px;
        .col {
        width: 23%;            
        }
    }
    img#bro{
        position:relative;
        left: 0;
        top:-85px;  
    }
}

#beneficios{
    background-color: @gris-oscuro;
    .flex{
        padding-top: 200px;
        padding-bottom: 125px;
        h2{
            padding: 40px 0px 0px 65px;
            line-height: 180%;
            
        }
    }
}

#contacto{
    background: url(../img/home/fondo-contacto.jpg) center no-repeat;
    background-size: cover;
    
    .flex{
        
        padding-top: 60px;
        padding-bottom: 60px;
        #icons{
            width: 7%;
        }
        .col{
            width: 45%;
        }
        h2{
            padding: 25px 0px 0px 65px;
            line-height: 180%;
            .giant-white{
                font-size: 96px;
            }
        }

    }
}

/* ==========================================================================
   PORQUÉ ELEGIRNOS
   ========================================================================== */

#porque-elegirnos{
    background: url(../img/porque/fondo-borrosos.jpg) center no-repeat;
    background-size: cover;
    
    div.contenedor-center{
        padding-top: 140px;
        padding-bottom: 100px;
    }
}

#centro-autorizado{
   background: url(../img/porque/fondo-sandia-dosPiramides.jpg) center no-repeat;
   background-size: cover; 
    
    div.flex{
        padding-top: 110px;
        padding-bottom: 50px;
        .col{
            padding: 0px 80px;
            h2{
                padding-top: 30%;
                text-align: left;
                    
            }
        }
    }
    
    #melon{     
         background: url(../img/porque/circulo-melon.png) center top no-repeat;
         background-size: 48%;
        h2{
            padding-top: 85px;
            text-align: center;
        }
        p{
            padding-top: 25%;
        }
    }
}

#ventajas{
    background-color: @gris-oscuro;
    
    .flex{
        padding: 200px 100px 80px 100px;
        
        .col{
            width: 33.3%;
            text-align: center;
            h2{
                padding-top: 120px;
                
            }
            p{
                padding-top: 10px;
            }
        }
    }
}

/* ==========================================================================
   QUIENES SOMOS? (ABOUT)
   ========================================================================== */

#whoweare{
    #col2{
        background: url(../img/about/fondo-columna-traje-filtroPixeles.jpg) center no-repeat;
        background-size: cover; 
    }
}

#mision-vision{
    background: url(../img/home/fondo-sandia-piramide.jpg) no-repeat center;
    
    img#c1-dev{
        margin-top: 180px;
         //padding-top: 180px;
        width: 110%;
    }
    
    .flex{
        padding: 125px 30px 100px 50px;
        
        p{
            line-height: 120%;
        }
        #right{
            padding-right: 60px;
            text-align: right;
            
            img{
                position:relative;
                left: -90px; 
            }
        }
            
    }
}

#logros{
    h2{
        padding-top: 160px;
        padding-bottom: 60px;
    }
    img{
        width:  100%;
        padding-top: 30px;
    }
    .flex{
        padding-bottom: 125px;
        .col{
            text-align: left; 
            #walmart{
                padding-top: 130px;
                padding-bottom: 50px;
            }
            
        }
        
        p{
            padding-top: 50px;
        }
    }
    #col2-logros{
       img{
            padding-left: 40px;
            //float: right;
            width:  80%;
        } 
    }
}

/* ==========================================================================
   SERVICIOS
   ========================================================================== */

.herramientas{
    background: url(../img/servicios/fondo-col2-herramientas-sandia.jpg) center no-repeat;
    background-size: cover;
    text-align: center;
    margin: 0;
    padding: 0px 20px;
    h2{
        line-height: 150%;
        padding-top: 140px;
    }
    p.light-mid-white{
        padding: 50px 100px;
    }
    p{
        line-height: 120%;
        padding: 0px 75px 20px 75px;
    }

    
}

.flex-btn{
    padding-bottom: 45px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    .col {
        width: 38%;    
        padding: 0px 10px;
        box-sizing: border-box;
        &.align-self-center {
            align-self: center;
        }
        &.align-self-end {
            align-self: flex-end;
        }
    }
}

#servicios{
    background: url(../img/servicios/fondo-servicios-ethernet.jpg) center no-repeat;
    background-size: cover;
    text-align: center;
    .flex{
        h1{
            padding: 160px 125px 180px 0px; 
        }
    }
    

}

#reparamos{
  
        .flex
        {
           
           .col{
            padding: 0;
            &#corchetes{
                 background: url(../img/servicios/corchetes-amarillos.png) center 275px no-repeat, url(../img/servicios/fondo-col2-herramientas-sandia.jpg) no-repeat center;
             }
            
               &#tecnico{
                   background: url(../img/servicios/fondo-col-tecnico.jpg) no-repeat center;
               }

            } 
        }
       
}

#dispositivos{
    .sqrt-dead-yellow{
        margin: 125px 0px 140px 50px;
        padding: 65px 20px;
        text-align: center;
        background-color: @yellow-dead-background;
    }
    
    background: url(../img/servicios/fondo-white-devices-shirt.jpg) center no-repeat;
    background-size: cover;
    
    .flex-btn{
        .col{
            width: 47%;
            padding: 0;
            margin: 0;
        }
     }
    
}

#garantia{
    background-color: @naranja-fondo;
    #singer{
        background: url(../img/servicios/fondo-coser.jpg) center no-repeat;
        background-size: cover;
    }
    .flex
    {
        .col{
            text-align: center;
            padding: 120px 10px 100px 10px;
            h2{
                line-height: 160%;
            }
            p{
                line-height: 130%;
                padding: 0px 75px 20px 75px;
            }
            .flex-btn{
                .col{
                    width: 39%;
                    padding: 0;
                    margin: 0;
                 }
           }
            
        }
    }
}

#moviles{
    .sqrt-sandia{
        margin: 125px 50px 140px 10px;
        padding: 65px 20px;
        text-align: center;
        background-color: @sandia;
        opacity: 0.95;
    }
    background: url(../img/servicios/fondo-mini-ingenieros.jpg) center no-repeat;
    background-size: cover;
    
    .flex-btn{
        .col{
            width: 48%;
            padding: 0;
            margin: 0;
        }
     }
    
    p{
        padding: 0px 30px;
        line-height: 110%;
        padding-bottom: 30px;
    }
    h2{
        line-height: 150%
    }
}

#proyectores{
    #impresora{
        background: url(../img/servicios/fondo-impresora-epson.jpg) center no-repeat;
        background-size: cover;
    }
    .herramientas{
        p.light-mid-white{
        padding: 0;
        }
    }
     .flex-btn{
         padding-bottom: 100px;
        .col{
            width: 41%;
            padding: 0;
            margin: 0;
            
        }
    }

}

#que-como{
    background: url(../img/servicios/fondo-gris-circuitos.jpg) center no-repeat;
        background-size: cover;
    .center{
        padding-left: 120px;
        padding-right: 50px;
    }
    h2{
        line-height: 155%;
    }
    ul{
        padding-bottom: 80px;
    }
    img{
        margin-top: 100px;
        margin-bottom: 100px;
        width: 100%;
    }
    .flex{
        padding: 125px 0px 200px 0px;
        .col{
            text-align: left;             
        }     
        p{
            padding-top: 50px;
        }
    }
    
   
    
    
    
}

#vendemos{

    div.contenedor-center{
        margin: 0;
        max-width: 1326px;
        padding-top: 0px;
        width: 100%;
    }
    .flex{
        flex-wrap: wrap;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        padding: 30px 10px 80px 10px;
        
        .gray{
            background-color: @gris-oscuro;
            
        }
        .col{
            margin: 0px 8px;
            height: 600px;
            
            width: 27%;
            
            text-align: center;
            h3{
                padding-top: 80px;
                font-size: 26px;
            }
            .light-mid-sandia{
                font-size: 24px;
            }
            p{
                padding: 10px 35px 0px 35px;
                line-height: 115%;
            }

                #iphone{
                    position:relative;
                    left: -200px;
                    top: -140px;
                }
                #mb{
                    position:relative;
                    left: -10px;
                    top: 120px;  
                }
                #tinta
                {
                    
                    position:relative;
                    left: 10px;
                    top: 210px;  
                }
                
                
        }

    }
    
     .flex-btn{
        padding-bottom: 0px;
        padding-top: 100px;
        .col{
            width: 20%;
            padding: 0;
            margin: 0;
        }
    }
    
    #cpu-dell{
    position:relative;
    left: -70px;
    top: 180px;
    }
    #impresora{
        position:relative;
        left: 0px;
        top: 210px;  
    }
   
}

#planes{
     padding-top: 90px;
    padding-bottom: 100px;
    .center{
        text-align: right;
        padding-left: 250px;
        padding-right: 20px;
    }
    
   
    background-color: @gris-oscuro;
    h2.interlineado{
        line-height: 220%;
    }
    p{
        line-height: 120%;
    }
    .padding-top{
        padding-top: 200px;
    }
    
    div.high-padding{
        padding: 0px 120px 0px 50px;
    }
    .flex-btn{
        padding-bottom: 0px;
        padding-top: 20px;
        .col{
            width: 50%;
            padding: 0;
            margin: 0;
        }
    }
}

#soluciones-tec{
    padding-top: 80px;
    padding-bottom: 80px;
    background:  url(../img/home/fondo-sandia-piramide.jpg) no-repeat center;
    h2{
        line-height: 200%;
    }
    div.contenedor-center{
        margin: 0;
        max-width: 1326px;
        padding-top: 0px;
        width: 100%;
    }
    .flex{
        flex-wrap: wrap;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        padding: 30px 10px 80px 10px;
        
        img{
            width: 100%;
        }
        .col{
            margin: 0px;
            height: 500px;
            
            width: 27%;
            align-content: center;
            text-align: center;
            h3{
                padding-top: 80px;
                font-size: 26px;
            }
            .light-mid-sandia{
                font-size: 24px;
            }
            p{
                padding: 10px 35px 0px 35px;
                line-height: 115%;
            }                         
        }
    }
    
     .flex-btn{
        padding-bottom: 0px;
        padding-top: 0px;
        .col{
            width: 20%;
            padding: 0;
            margin: 0px 45px;
        }
    }
}

